.about-container {
  padding: 20px;
  color: white;
  background-color: #333;
}

.about-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.about-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.faq-section {
  margin-top: 40px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 1.2em;
}
