.profile{
    color: white;
    text-align: center;

}
.admin-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 525px;
    margin-bottom: 20px;
  }
  
  .admin-buttons button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-buttons button:hover {
    transform: scale(1.05);
  }
  